.sliderTrack {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
}

.slide {
    flex: 0 0 auto;
    padding: 0 20px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}