@use "../../../MainVariables" as *;
.ClientWorkSection{
    padding: $Section-Vertical-Height $Section-Horizontal-Height
}
.pointP{
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: $font-weight-regular;
}
.ClientWorkH2{
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-medium;
}