@use "../../../MainVariables" as *;
.HeaderAboutSection{
    padding: $Section-Vertical-Height $Section-Horizontal-Height
}
.HeaderAboutSectionHEading{
    font-size: $font-size-hero;
    line-height: $line-height-hero;
    font-weight: $font-weight-bold;
    color: $color-primary-hero !important;
    margin-bottom:calc($Sub-Section-Vertical-Height/3) ;
}
.HeaderAboutSectionSubHEading{
    font-size: $font-size-subhero !important;
    line-height: $line-height-subhero !important;
    font-weight: $font-weight-regular !important;
    color: $color-primary-hero !important;
    margin-bottom: calc($Sub-Section-Vertical-Height/3);
}