@use "../../../MainVariables" as *;
.Footer .navHeads {
    position: relative;
    text-decoration: none;
    padding: 0 !important;
    cursor: pointer;
}
.Footer .navHeads a{
  color: #1b3139;
}
.FooterContainer{
    padding: $Section-Vertical-Height $Section-Horizontal-Height; 
}
.FirstFooterContainer{
    padding-bottom: $Sub-Section-Vertical-Height;
}
.SecondFooterContainer {
    padding-top: $Sub-Section-Vertical-Height;
    padding-bottom: $Sub-Section-Vertical-Height;
}
.ThirdFooterContainer{
    padding-top: $Sub-Section-Vertical-Height;
}
.Footer .navHeads::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjusts position without affecting layout */
    width: 0;
    height: 2px;
    // background-color:#007fff; /* Adjust the color as needed */
    transition: width 0.3s ease-in-out;
}
.Footer .navHeads:hover::after {
    width: 100%;
}
.hoverNavTag :hover{
        color:#007fff !important;
    }
/* .Footer .Menu-item-text{
    &:hover{
        color: #2e96ff !important;
        border-bottom: 1px solid #007fff;
        border-radius: 0;
    }
} */