.navHeads {
    position: relative;
    text-decoration: none;
    padding: 14px; /* Ensures space for the border */
}
.navHeads a{
  color: white;
}

.navHeads::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjusts position without affecting layout */
    width: 0;
    height: 2px;
    background-color:white; /* Adjust the color as needed */
    transition: width 0.3s ease-in-out;
}
.navHeads:hover::after {
    width: 100%;
}

.MenuItemText{
  font-size: 16px;
  color: #1b3139 !important;
}
.mobileMenuNav{
  height: 100vh;
}
.navHeadsMobile{
 padding: 12px;
}
.navHeadsMobile a{
  font-size: 20px;
}
/* For smasung fold  */
@media screen and (max-width: 331px) {
  nav .WebsiteLogo{
    width: 170px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1280px) {
  .mobileMenuNav{
    position: absolute;
    right: 0;
    width: 400px;
  }
}