@use "../../../MainVariables" as *;
.fromDiv {
    position: sticky;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    /* padding: 1.5rem 0; */
}
.StickyfromDiv{
    padding: $Sub-Section-Vertical-Height $Section-Horizontal-Height $Section-Vertical-Height $Section-Horizontal-Height;
}
.StickyH3{
    font-size: $font-size-h3;
    font-weight: $font-weight-medium;
    line-height: $line-height-h3;
}
nav .fromDiv {
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 769px) {
    .StickyH2{
        margin-bottom: calc($Sub-Section-Vertical-Height/3);
    }
}

@media screen and (max-width: 1280px) {
    .fromDiv {
        display: none;
        padding: 0;
    }

    nav .fromDiv {
        display: block;
    }
}

.NonFromDiv {
    position: relative;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    /* padding: 1.5rem 0; */
}
