@use "../../../MainVariables" as *;

.ctaH2{
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-medium;
    margin-bottom: $Sub-Section-Vertical-Height ;
}
.ctaSection{
    padding: $Section-Vertical-Height $Section-Horizontal-Height;
}