@use "../../../MainVariables" as *;
.overViewSection{
    padding: $Section-Vertical-Height $Section-Horizontal-Height;
}
.overViewSubSection{
    padding-top: $Sub-Section-Vertical-Height;
}
.overview li {
    list-style-type: disc !important;
    list-style-position: inside !important;
    color: $Sub-Heading-Color !important
}

.keyBeniFitsItem {
    width: 100%;
}

.overviewH2{
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-medium;
}
.overviewH3{
    font-size: $font-size-h3;
    line-height: $line-height-h3;
    font-weight: $font-weight-medium;
}
.overviewp{
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: $font-weight-regular;
}
.keyBeniFitsItem {
    width: auto;
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: $font-weight-regular;
}
@media screen and (max-width:370px) {
    .keyBeniFitsItem {
        width: auto;
    }
}
@media screen and (max-width:769px) {
    .keyBeniFitsItem {
        width: 100%;
    }
}
