@use "../../../MainVariables" as *;
.HeroSection{
    padding: $Section-Vertical-Height $Section-Horizontal-Height;
}
.HeroHeading{
    font-size: $font-size-hero;
    font-weight: $font-weight-bold;
    line-height: $line-height-hero;
    color: $color-primary-hero !important;
    margin-bottom: calc($Sub-Section-Vertical-Height/3);
}
.HeroSubHeading{
    font-size: $font-size-subhero !important;
    font-weight: $font-weight-regular !important;
    line-height: $line-height-subhero !important;
    color: $color-primary-hero !important;
}
.CareerImage canvas {
    width: 700px !important;
}
@media screen and (max-width: 1280px) {
    .CareerImage canvas {
        width: 100% !important;
    }
}