@use "../MainVariables" as *;

.BPM {
    padding: $Section-Vertical-Height $Section-Horizontal-Height;
}

.BPMHeading {
    font-size: $font-size-hero;
    font-weight: $font-weight-bold;
    line-height: $line-height-hero;
    color: $color-primary-hero !important;
}

.DivSpace {
    margin-bottom: calc($Sub-Section-Vertical-Height);
}

.BPMH2 {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-bold;
    margin-bottom: calc($Sub-Section-Vertical-Height/3);
}

.BPMH2Middle {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-bold;
    margin-top: calc($Sub-Section-Vertical-Height/3);
}

.BPMp {
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: $font-weight-regular;
    margin-bottom: calc($Sub-Section-Vertical-Height/3);
}

@media screen and (max-width:769px) {
    .DivSpace {
        margin-bottom: $Sub-Section-Vertical-Height;
    }

}