@use "../MainVariables" as *;

.CareerPageSection{
    padding: $Section-Vertical-Height $Section-Horizontal-Height;
}

.CareerPageHeading{
    font-size: $font-size-hero;
    line-height: $line-height-hero;
    font-weight: $font-weight-bold;
    color: $color-primary-hero !important;
    margin-bottom: calc($Sub-Section-Vertical-Height/2);
}
.CareerPageSubHeading{
    font-size: $font-size-subhero;
    line-height: $line-height-subhero;
    font-weight: $font-weight-regular;
    color: $color-primary-hero !important;
    margin-bottom: $Sub-Section-Vertical-Height;
}
.subSection{
    margin-bottom: $Sub-Section-Vertical-Height;
}
.CaarearH3{
    font-size: $font-size-h3;
    line-height: $line-height-h3;
    font-weight: $font-weight-medium;
}
.CaarearH2{
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-medium;
}
.CaarearP{
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: $font-weight-regular;
}
.careerCard {
    width: 300px;
    height: 500px;
}

.CareerPageSection .swiper-wrapper {
    // align-items: stretch !important;
}

.highlightUnderline {
    position: relative;
    z-index: 1;
}

.highlightUnderlineHead {
    position: relative;
    z-index: 1;
}

.underlineBarHead {
    z-index: -1;
    height: 13px;
    position: absolute;
    top: 0;
}

.CareerPageSection canvas {
    width: 700px !important;
}

.underlineBar {
    z-index: -1;
    height: 13px;
    position: absolute;
    bottom: 0;
}

.benifitIcon {
    color: #007fff;
}

.benifitsCard {
    &:hover {
        color: #fff !important;
        background-color: #007fff;

        h3,
        p {
            color: #fff !important;
        }

        .benifitIcon {
            color: #fff !important;
        }
    }
}

@media screen and (max-width: 1280px) {
    .CareerImage canvas {
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .careerCard {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 331px) {
    .careerCard {
        width: 245px;
        height: auto;
    }
}