@use "../MainVariables" as *;
.CodeOfConduct{
    padding: $Section-Vertical-Height $Section-Horizontal-Height;
}
.CodeOfConduct li {
    list-style-type: disc;
    color: $Sub-Heading-Color !important;
}
.CodeOfConduct h2{
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-medium;
}

.CodeOfConduct h3 {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-medium;
}

.CodeOfConduct p {
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: $font-weight-regular;
}