@use "../MainVariables" as *;
.Development{
    padding: $Section-Vertical-Height $Section-Horizontal-Height;
}
.DevelopmentHeading{
    font-size: $font-size-hero;
    font-weight: $font-weight-bold;
    line-height: $line-height-hero;
    color : $color-primary-hero !important;
}
.DivSpace{
    margin-bottom: calc($Sub-Section-Vertical-Height/3);
}
.DevelopmentH2{
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-bold;
}
.DevelopmentH2Middle{
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-bold;
    margin-top: calc($Sub-Section-Vertical-Height/3);
}
.Developmentp{
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: $font-weight-regular;
    margin-bottom: calc($Sub-Section-Vertical-Height/3);
}