.BrandLogo{
  width: 65%;
  object-fit: contain;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes leftSlide {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightSlide {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0);
  }
}
/* #HeadingSection {
  animation: fadeInUp 3s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
} */
/* Landing Page Hero Section Css */
@media screen and (max-width: 331px) {
  .Land-HeadingSection-Heading {
    font-size: 1.8rem !important;
    line-height: 2.5rem !important;
  }
  .Land-HeadingSection-Subheading{
    font-size: 0.75rem !important;
    line-height: 1.2rem !important;
  }
  .Land-HeadlessCMS-Heading {
    font-size: 1rem !important;
    line-height: 1.25rem !important;
  }
  .Land-HeadlessCMS-Subheading{
    font-size: 0.75rem !important;
    line-height: 1.2rem !important;
  }
}