@use "../MainVariables" as *;

.InformationSecurity {
  padding: $Section-Vertical-Height $Section-Horizontal-Height;
}

.InformationSecurity li {
  list-style-type: disc;
  list-style-position: inside;
  color: $Sub-Heading-Color !important;
}

.InformationSecurity h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  font-weight: $font-weight-medium;
  margin-top: calc($Sub-Section-Vertical-Height/3);
  margin-bottom: calc($Sub-Section-Vertical-Height/3);
}

.InformationSecurity h3 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  font-weight: $font-weight-medium;
  margin-top: calc($Sub-Section-Vertical-Height/3);
  margin-bottom: calc($Sub-Section-Vertical-Height/3);
}

.InformationSecurity p {
  font-size: $font-size-body;
  line-height: $line-height-body;
  font-weight: $font-weight-regular;
}
