@use "../MainVariables" as *;

.Partner {
    padding: $Section-Vertical-Height $Section-Horizontal-Height;
}
.PartnerHeading {
    font-size: $font-size-hero;
    font-weight: $font-weight-bold;
    line-height: $line-height-hero;
    color: $color-primary-hero !important;
}
.DivSpace {
    margin-bottom: calc($Sub-Section-Vertical-Height/3);
}
.PartnerLogos{
    // height: 30px;
    filter:grayscale(100%);
    &:hover{
        filter:grayscale(0);
        cursor: pointer;
    }
}
.PartnerH2 {
    font-size: $font-size-h3;
    line-height: $line-height-h3;
    font-weight: $font-weight-medium;
    margin-bottom: calc($Sub-Section-Vertical-Height/3);
}
@media screen and (max-width:769px) {
    .DivSpace{
        margin-bottom: $Sub-Section-Vertical-Height;
    }
    
}