input:disabled ,select:disabled{
  background-color: #f3f3f3; /* Light gray background */
  color: #a0a0a0; /* Dimmed text color */
  border-color: #d1d1d1; /* Gray border */
  cursor: not-allowed; /* Show not-allowed cursor */
  opacity: 0.6; /* Reduce visibility */
}
