.careerCard{
    width: 300px;
    height: 500px;
}
:global(swiper-wrapper) {
  align-items: stretch;
}

.highlightUnderline{
    position: relative;
    z-index: 1;
}

.highlightUnderlineHead{
    position: relative;
    z-index: 1;
}

.underlineBarHead{
    z-index: -1;
    height: 13px;
    position: absolute;
    top: 0;
}

.CareerHead{
    h1,p{
        color: white !important;
    }
}
.CareerImage :global(canvas){
    width: 700px !important;
}

.underlineBar{
    z-index: -1;
    height: 13px;
    position: absolute;
    bottom: 0;
}

.benifitIcon{
    color: #007fff;
}

.benifitsCard{
    &:hover{
        color: #fff !important;
        background-color: #007fff;
        h3,p{
            color: #fff !important;
        }
        .benifitIcon{
            color: #fff !important;
        }
    }
}
@media screen and (max-width: 1280px) {
    .CareerImage :global(canvas){
    width: 100% !important;
}
}
@media screen and (max-width: 331px){
    .CareerHead :global(h1){
        font-size: 45px !important;
    }
    .careerCard{
        width: 245px;
    }
}