.PartnerHeading{
    color: white !important;
}

/* SelectStyles.module.css */
.selectContainer {
  position: relative;
  width: 100%;
}

.selectInput {
  border: 1px solid #9ca3af; /* Default gray */
  border-radius: 8px;
  padding: 3px;
}

.selectInput:focus {
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.selectInput.error {
  border: 1px solid #dc2626; /* Red border for errors */
}

.selectInput.success {
  border: 1px solid #16a34a; /* Green border when selected */
}

.multiValue {
  background-color: #16a34a;
  border-radius: 8px;
  color: white;
}

.multiValueLabel {
  color: white;
}

.multiValueRemove {
  color: red;
}

.multiValueRemove:hover {
  background-color: #ff6666;
  color: white;
}
