@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@theme {
  --breakpoint-3xl: 1600px;
}
*{
  font-family: DM Sans,sans-serif;
}
body {
  /* height: 100vh; */
  background-color: antiquewhite;
} 
li {
  list-style-type: none;
}
