@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.BuletSection p{
  color: #617796 !important;
}
.fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

@media screen and (max-width: 331px) {
  .LandBulletsHeading{
    font-size: 1.8rem !important;
    line-height: 2.5rem !important;
  }
  .LandBulletsSubheading{
    font-size: 0.75rem !important;
  }
  
}