/* Landing Page Hero Section Css */
@media screen and (max-width: 331px) {
  .LandCMSHeading {
    font-size: 1.8rem !important;
    line-height: 2.5rem !important;
  }
  .LandCMSSubheading {
    font-size: 1.125rem !important;
  }
  .LandCMSPara {
    font-size: 0.75rem !important;
  }
}
