@use "../../../MainVariables" as *;

.HeadlessCMS{
  padding: $Section-Vertical-Height $Section-Horizontal-Height;
}

.BrandLogo {
  width: 58%;
  object-fit: contain;
  /* background-color: #fafafa; */
  // background-size: contain;
}

.LandHeadingSectionHeading{
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  font-weight: $font-weight-medium;
  margin-bottom: calc($Sub-Section-Vertical-Height/3);
}
.subsection{
  margin-bottom: calc($Sub-Section-Vertical-Height/3);
}
.SecSubSection{
  font-size: $font-size-body;
  line-height: $line-height-body;
  font-weight: $font-weight-regular;
  margin-bottom: calc($Sub-Section-Vertical-Height/3);
}
.LandBullets{
  margin-bottom: calc($Sub-Section-Vertical-Height/3);
}
.SecH3up{
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  font-weight: $font-weight-medium;
  margin-bottom: calc($Sub-Section-Vertical-Height/3);
}
.LandHeadlessh3{
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  font-weight: $font-weight-medium;
  margin-bottom: calc($Sub-Section-Vertical-Height/3);
}

.LandHeadingSectionSubheading{
  font-size: $font-size-body;
  line-height: $line-height-body;
  font-weight: $font-weight-regular;
  margin-bottom: calc(calc($Sub-Section-Vertical-Height/3)/2);
}

.BuletSection {
  padding: $Section-Vertical-Height $Section-Horizontal-Height;
}
.BulletPoints{
  margin-top: $Section-Horizontal-Height;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.LandBulletsHeading{
  font-size: $font-size-h2;
  font-weight: $font-weight-medium;
  line-height: $line-height-h2;
}
.LandBulletsSubheading{
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  line-height: $line-height-body;
}
.fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

@media screen and (max-width: 1500px) {
  .BrandLogo {
    width: 42%;
    object-fit: contain;
    /* background-color: #fafafa; */
    background-size: contain;
  }

}
@media screen and (max-width:769px) {
  .subsection {
    margin-bottom: 0;
  }

  .LandBullets {
    margin-bottom: calc($Sub-Section-Vertical-Height/3) ;
  }

  .SecH3up {
    margin-top: calc($Sub-Section-Vertical-Height/3) ;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leftSlide {
  from {
    transform: translateX(-1000px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rightSlide {
  from {
    transform: translateX(1000px);
  }

  to {
    transform: translateX(0);
  }
}
