@use "../../../MainVariables" as *;
// .HeroSection .LandHeroheading,
// :global(.Typewriter__wrapper),
// :global(.Typewriter__cursor),
// .LandHerosubheading {
//   color: white !important;
// }
.HeroSection{
    padding: $Section-Vertical-Height $Section-Horizontal-Height;
}
.LandHerosubheading{
    font-size: $font-size-subhero;
    font-weight: $font-weight-regular;
    line-height: $line-height-subhero;
    color: $color-primary-hero !important;
}
:global(.Typewriter) {
  margin-bottom: 16px;
}

:global(.Typewriter__wrapper),
:global(.Typewriter__cursor) {
  font-size: $font-size-hero;
  line-height: $line-height-hero;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
  color: $color-primary-hero !important;
}

// @media screen and (min-width: 1280px) {

//   :global(.Typewriter__wrapper),
//   :global(.Typewriter__cursor) {
//     font-size: 3.75rem;
//     line-height: calc(2.5 / 2.25);
//     font-weight: 500 !important;
//     margin-bottom: 16px;
//     text-transform: capitalize;
//   }
// }

/* Landing Page Hero Section Css */
@media screen and (max-width: 331px) {

//   :global(.Typewriter__wrapper),
//   :global(.Typewriter__cursor) {
//     font-size: 1.8rem !important;
//     line-height: 2.5rem !important;
//   }

  .LandHerosubheading {
    font-size: 0.75rem !important;
  }

  .HeroSection {
    padding-top: 3rem !important;
  }
}