.spinner {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  border: 3px solid #007fff;
  /* Added border */
  border-radius: 50%;
}

.second-outer-container {
  position: absolute !important;
  width: 350px !important;
  height: 350px !important;
  border-radius: 50%;
  border: 3px solid #007fff;
}

.second-inner-container {
  position: absolute !important;
  width: 200px !important;
  height: 200px !important;
  border-radius: 50%;
  border: 3px solid #007fff;
}

/* Outer rotating icons */
.spinner div {
  position: absolute;
  width: 60px;
  height: 60px;
}

/* Positioning outer icons */
.outer-rotation-container .element-one {
  transform: translate(244px, 0) rotate(174deg);
}

.outer-rotation-container .element-two {
  transform: translate(-252px, 0) rotate(-188deg);
}

.outer-rotation-container .element-three {
  transform: translate(0, 252px) rotate(-10deg);
}

.outer-rotation-container .element-four {
  transform: translate(0, -247px) rotate(-186deg);
}

/* Positioning second outer icons */
.second-outer-container .element-one {
  transform: translate(233px, 0) rotate(0deg);
}

.second-outer-container .element-two {
  transform: translate(46px, 283px) rotate(-360deg);
}

.second-outer-container .element-three {
  transform: translate(-1px, 54px) rotate(-4deg);
}

.second-outer-container .element-four {
  transform: translate(295px, 236px) rotate(0deg);
}

/* Positioning second inner icons */
.second-inner-container .element-one {
  transform: translate(159px, 78px) rotate(192deg);
}

.second-inner-container .element-two {
  transform: translate(40px, 158px) rotate(-527deg);
}

.second-inner-container .element-three {
  transform: translate(-24px, 56px) rotate(8deg);
}

.second-inner-container .element-four {
  transform: translate(80px, -27px) rotate(-169deg);
}

/* Keeping inner icons upright */
.inner-icon img {
  width: 50px;
  height: auto;
}

.spinner .img {
  background-color: #fff;
  width: 50px;
  height: auto;
  transform: rotate(0deg) !important;
  /* Removed rotation effect */
}

@media screen and (min-width: 769px) and (max-width:1140px) {
  .spinner {
    width: 400px;
    height: 400px;
  }

  .second-outer-container {
    width: 290px !important;
    height: 290px !important;
  }

  .second-inner-container {
    width: 180px !important;
    height: 180px !important;
  }

  /* Outer rotating icons */
  .spinner div {
    width: 60px;
    height: 60px;
  }

  /* Positioning outer icons */
  .outer-rotation-container .element-one {
    transform: translate(192px, 0) rotate(156deg);
  }

  .outer-rotation-container .element-two {
    transform: translate(-206px, -26px) rotate(-203deg);
  }

  .outer-rotation-container .element-three {
    transform: translate(0, 202px) rotate(-24deg);
  }

  .outer-rotation-container .element-four {
    transform: translate(0, -197px) rotate(-203deg);
  }

  /* Positioning second outer icons */
  .second-outer-container .element-one {
    transform: translate(251px, 105px) rotate(-162deg);
  }

  .second-outer-container .element-two {
    transform: translate(-34px, 122px) rotate(199deg);
  }

  .second-outer-container .element-three {
    transform: translate(128px, -33px) rotate(-73deg);
  }

  .second-outer-container .element-four {
    transform: translate(108px, 249px) rotate(-162deg);
  }

  /* Positioning second inner icons */
  .second-inner-container .element-one {
    transform: translate(139px, 64px) rotate(161deg);
  }

  .second-inner-container .element-two {
    transform: translate(33px, 141px) rotate(-559deg);
  }

  .second-inner-container .element-three {
    transform: translate(-23px, 49px) rotate(-18deg);
  }

  .second-inner-container .element-four {
    transform: translate(72px, -26px) rotate(-201deg);
  }
}

@media screen and (max-width: 769px) {
  .spinner .img {
      width: 35px;
    }
  .spinner {
    height: 350px !important;
    width: 350px !important;
  }

  .second-outer-container {
    width: 225px !important;
    height: 225px !important;
  }

  .second-inner-container {
    display: none
  }

  .outer-rotation-container .element-one {
    transform: translate(150px, 44px) rotate(-157deg);
  }

  .outer-rotation-container .element-two {
    transform: translate(-172px, -45px) rotate(196deg);
  }

  .outer-rotation-container .element-three {
    transform: translate(-46px, 152px) rotate(-153deg);
  }

  .outer-rotation-container .element-four {
    transform: translate(36px, -179px) rotate(200deg);
  }

  .second-outer-container .element-one {
    transform: translate(-31px, 86px) rotate(-147deg);
  }

  .second-outer-container .element-two {
    transform: translate(118px, 168px) rotate(211deg);
  }

  .second-outer-container .element-three {
    transform: translate(63px, -29px) rotate(300deg);
  }

  .second-outer-container .element-four {
    transform: translate(182px, 30px) rotate(-149deg);
  }

  /* Center logo (fixed position, no rotation) */
  #centerLogo {
    height: 60px;
    position: absolute;
  }
}

/* For Samsung Fold */
@media screen and (max-width: 390px) {
  .spinner .img {
    width: 35px;
  }

  .spinner {
    height: 264px !important;
    width: 270px !important;
  }

  .second-outer-container {
    width: 170px !important;
    height: 170px !important;
  }

  .second-inner-container {
    display: none
  }

  .spinner div {
    width: 40px;
    height: 40px;
  }

  .outer-rotation-container .element-one {
    transform: translate(120px, 44px) rotate(-162deg);
  }

  .outer-rotation-container .element-two {
    transform: translate(-133px, -20px) rotate(182deg);
  }

  .outer-rotation-container .element-three {
    transform: translate(-37px, 125px) rotate(-75deg);
  }

  .outer-rotation-container .element-four {
    transform: translate(43px, -125px) rotate(197deg);
  }

  .second-outer-container .element-one {
    transform: translate(-21px, 47px) rotate(-194deg);
  }

  .second-outer-container .element-two {
    transform: translate(32px, 143px) rotate(164deg);
  }

  .second-outer-container .element-three {
    transform: translate(116px, -4px) rotate(256deg);
  }

  .second-outer-container .element-four {
    transform: translate(134px, 95px) rotate(-194deg);
  }

  /* Center logo (fixed position, no rotation) */
  #centerLogo {
    height: 50px;
    position: absolute;
  }
}