.rotation-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px; /* Adjust as needed */
}

.spinner {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  border: 3px solid #ffd700; /* Added border */
  border-radius: 50%;
}

/* Outer rotating icons */
.spinner div {
  position: absolute;
  width: 60px;
  height: 60px;
}

/* Positioning outer icons */
.Wordpress {
  transform: translate(150px, 0) rotate(0deg);
}
.Drupal {
  transform: translate(-145px, 0) rotate(0deg);
}
.Joomla {
  transform: translate(0, 150px) rotate(0deg);
}
.Magento {
  transform: translate(0, -145px) rotate(0deg);
}

/* Keeping inner icons upright */
.inner-icon img {
  width: 50px;
  height: auto;
}

.spinner .img {
  width: 50px;
  height: auto;
  transform: rotate(0deg); /* Removed rotation effect */
}
/* For Samsung Fold */
@media screen and (max-width: 331px) {
  .spinner {
    height: 200px !important;
  }
  .Wordpress {
    transform: translate(100px, 0) rotate(0deg);
  }
  .Drupal {
    transform: translate(-100px, 0) rotate(0deg);
  }
  .Joomla {
    transform: translate(0, 100px) rotate(0deg);
  }
  .Magento {
    transform: translate(0, -100px) rotate(0deg);
  }
  /* Center logo (fixed position, no rotation) */
  #centerLogo {
    height: 60px;
    position: absolute;
  }
}
