@use "../../../MainVariables" as *;
.HeroSection{
    padding: $Section-Vertical-Height $Section-Horizontal-Height;
}
.Hero {
    font-size: $font-size-hero;
    font-weight: $font-weight-bold;
    line-height: $line-height-hero;
    color: $color-primary-hero !important;
}